<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src='/scripts/jquery.js'></script>
  <script src='/scripts/scripts.js'></script>
</head>
<body>
  <%= yield %>
</body>
</html>