<div class='header'>
  <h1>LiveTrain NYC <span>...a vizualization of realtime MTA subway locations</span></h1>
</div>
<div class="construction">
  <h4>We are being delayed due to train traffic ahead. &nbsp;The trains will be moving shortly, thank you for your patience...</h4>
</div>
<div id='map'></div>

<script src='javascripts/scripts.js'></script>