<div class='header'>
  <h1>LiveTrain NYC <span>...a vizualization of realtime MTA subway locations</span><span id='about-button'>?</span></h1>
</div>
<!-- <div class="construction">
  <h4>We are being delayed due to train traffic ahead. &nbsp;The trains will be moving shortly, thank you for your patience...</h4>
</div> -->
<div id='map'>

</div>
<div id='station-countdown' class='hidden'>
	<div id='station-countdown-header'>
		<h3><div class='close-button'>&times</div><div id='station-name'>Station Name</div></h3>
	</div>
	<div id='countdown-info'></div>
</div>

<div id='train-info-container' class='hidden'>
  <div id='train-info-header'>
    <h3><div class='close-button' id='train-close-button'>&times</div><div id='train-info-icon'></div><div id='train-direction'></div></h3>
  </div>
  <div id='train-info'></div>
</div>

<div id="about-section-container" class="">
  <div id="about-section-header">
    <h3><div class='close-button' id='train-close-button'>&times</div><div id='about-header'>About</div></h3>
  </div>
  <div id="about-section-body">
    <p>
      LiveTrain NYC was originally conceived as our final project as students in General Assembly's Web Development Immersive.  We wanted to use the MTA's public data to create a visualization that would map the locations of all the trains in the NYC subway system, in real time, on a geographically accurate map.
    </p>

    <p>
      The project has evolved since then into an interactive application that can provide the familiar countdown clock seen on the physical subway platforms, as well as the MTA's estimated future arrival times for individual trains.
    </p>

    <p>
      While we quickly discovered that not every line has real time data available, we hope the resulting visualization still accomplishes our original goal of creating a view into an extremely complex transportation network that serves over 5.5 million riders daily.
    </p>

    <p>
      As relatively new developers, we're incredibly grateful to the incredible open source community, especially Chris Whong's blog about his Day In the Life of a NYC Taxi, and Mike Bostock's numerous examples of d3 wizardry. LiveTrain NYC is an open source project, we welcome feedback! Feel free to reach out with suggestions and check out the code on github.
    </p>

    <p>
      Stay tuned for additional subway lines, and remember to stand clear of the closing doors!
    </p>
  </div>
</div>

<div id='line-controls'>
    <ul>
      <li class='line-selector selected' id='line-selector-all' data-route='All'><div class='line-selector-icon icon-all'>All</div></li>
      <li class="line-selector selected" id='line-selector-1' data-route='1'><div class='line-selector-icon icon-1'>1</div></li>
      <li class="line-selector selected" id='line-selector-2' data-route='2'><div class='line-selector-icon icon-2'>2</div></li>
      <li class="line-selector selected" id='line-selector-3' data-route='3'><div class='line-selector-icon icon-3'>3</div></li>
      <li class="line-selector selected" id='line-selector-4' data-route='4'><div class='line-selector-icon icon-4'>4</div></li>
      <li class="line-selector selected" id='line-selector-5' data-route='5'><div class='line-selector-icon icon-5'>5</div></li>
      <li class="line-selector selected" id='line-selector-6' data-route='6'><div class='line-selector-icon icon-6'>6</div></li>
      <li class="line-selector selected" id='line-selector-L' data-route='L'><div class='line-selector-icon icon-L'>L</div></li>
      <li class="line-selector selected" id='line-selector-S' data-route='S'><div class='line-selector-icon icon-S'>S</div></li>
    </ul>
</div>

<script src='javascripts/helpers.js'></script>
<script src='javascripts/scripts.js'></script>
<script src='javascripts/shapes.js'></script>