<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <title>Live Trains</title>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <script src='javascripts/jquery-1.11.1.min.js'></script>
  <script src='javascripts/underscore.js'></script>
  <script src='javascripts/backbone.js'></script>
  <script src='javascripts/d3-3.5.2.min.js'></script>
  <script id="station-countdown-template" type="text/template">
  <%% if (stationCountdown.northbound.length > 0) { %>
  <h4>Northbound</h4>
  <ul>
    <%% _.each(stationCountdown.northbound, function(stop) { %>
      <li>
        <div class="countdown-train-icon icon-<%%= stop.route === 'GS' ? 'S' : stop.route %>"><%%= stop.route === 'GS' ? 'S' : stop.route %></div><span><%%= stop.min_till_train %> min</span>
      </li>
    <%% }); %>
  </ul>
  <%% }; %>
  <%% if (stationCountdown.southbound.length > 0) { %>
	<h4>Southbound</h4>
  <ul>
    <%% _.each(stationCountdown.southbound, function(stop) { %>
      <li>
        <div class="countdown-train-icon icon-<%%= stop.route === 'GS' ? 'S' : stop.route %>"><%%= stop.route === 'GS' ? 'S' : stop.route %></div><span><%%= stop.min_till_train %> min</span>
      </li>
    <%% }); %>
  </ul>
  <%% }; %>
  </script>
  <script src='javascripts/station_countdown/models/StationCountdown.js'></script>
  <script src='javascripts/station_countdown/views/StationCountdownView.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="/stylesheets/styles.css">


</head>
<body>
  <%= yield %>
</body>
</html>