<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <title>Live Trains</title>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <script src='javascripts/jquery-1.11.1.min.js'></script>
  <script src='javascripts/d3-3.5.2.min.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <%= yield %>
</body>
</html>