<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no' />
  <title>LiveTrain.nyc</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <script src='javascripts/jquery-1.11.1.min.js'></script>
  <script src='javascripts/underscore.js'></script>
  <script src='javascripts/backbone.js'></script>
  <script src='javascripts/d3-3.5.2.min.js'></script>
  <script id="station-countdown-template" type="text/template">
  <%% if (stationCountdown.northbound.length > 0) { %>
  <h4>Northbound <span class='min-till-arrival-header'>Min</span></h4>
  <ul id='northbound-countdown-trips'>
    <%% _.each(stationCountdown.northbound, function(stop) { %>
      <li id='<%%= stop.stop_id %>' data-timestamp='<%%= stop.timestamp %>'>
        <div class="countdown-train-icon icon-<%%= stop.route === 'GS' ? 'S' : stop.route %>"><%%= stop.route === 'GS' ? 'S' : stop.route %></div><span class="destination"><%%= stop.destination === null ? 'ALERT: Modified Service!' : stop.destination %></span><span class="minutes-till-arrival"><%%= calculateMinTillTrain(stop.timestamp) %></span>
      </li>
    <%% }); %>
  </ul>

  <%% }; %>
  <%% if (stationCountdown.southbound.length > 0) { %>
	<h4>Southbound<span class='min-till-arrival-header'>Min</span></h4>

  <ul id='southbound-countdown-trips'>
    <%% _.each(stationCountdown.southbound, function(stop) { %>
      <li id='<%%= stop.stop_id %>' data-timestamp='<%%= stop.timestamp %>'>
        <div class="countdown-train-icon icon-<%%= stop.route === 'GS' ? 'S' : stop.route %>"><%%= stop.route === 'GS' ? 'S' : stop.route %></div><span class="destination"><%%= stop.destination === null ? 'ALERT: Modified Service!' : stop.destination %></span><span class="minutes-till-arrival"><%%= calculateMinTillTrain(stop.timestamp) %></span>
      </li>
    <%% }); %>
  </ul>
  <%% }; %>
  </script>
  <script id="train-info-template" type="text/template">
    <div><%%= trainInfo.trip_id %></div>
    <div><%%= trainInfo.direction === 'N' ? "Northbound" : "Southbound" %></div>
    <div>
      <table>
        <tr>
          <th>Station</th>
          <th>Arrival</th>
          <th>Departure</th>
        </tr>
        <%% _.each(trainInfo.stops, function(stop) { %>
        <tr>
          <td><%%= stop.mta_stop_id %></td>
          <td><%%= stop.arrival_time %></td>
          <td><%%= stop.departure_time %></td>
        </tr>
        <%% }); %>
      </table>
    </div>
  </script>
  <script src='javascripts/models/StationCountdown.js'></script>
  <script src='javascripts/views/StationCountdownView.js'></script>
  <script src='javascripts/models/TrainInfo.js'></script>
  <script src='javascripts/views/TrainInfoView.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/media_queries.css" />


</head>
<body>
  <%= yield %>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
          Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-58506884-1', 'auto');
                  ga('send', 'pageview');
  </script>
</body>
</html>