@media (max-width: 670px) {
  .header span {
    display: none;
  }
}


/* ALL PHONES */
@media (max-width: 400px) {
  #station-countdown {
    top: 60px;
    border-top: 2px solid white;
  }

  #station-countdown ul {
    overflow-y: scroll;
  }

  #station-countdown h4 {
    font-size: 1em;
  }

  .countdown-train-icon {
    margin: 0;
    margin-right: 10px;
  }

  #station-countdown li {
    display: list-item;
  }

  .destination {
    overflow: scroll;
    position: relative;
    top: 2px;
  }

  .minutes-till-arrival {
    position: relative;
    padding-right: 5px;
    top: 2px;
  }

}

/* iPhone 6 */
@media (max-width: 375px) {
  #station-countdown ul {
    max-height: 150px;
  }

  .destination {
    width: 297px;
  }
}

/* iPhone 5 */
@media (max-width: 320px) {

#station-countdown ul {
  max-height: 125px;
}

.destination {
  width: 242px;
}

}